
#image-section>img{
    height: 85vh;
    width: 100%;
    border: thin solid skyblue;
    z-index: 9999;
    align-items: center;
    margin: 2vh 0;
    background-color: rgba(0, 0, 0, 0.301);
}

#ScreenSize{

    display: none;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    overflow-x: hidden;
    width: 100vw;
}
.section1{
    height: max-content;
    width: 100vw;
    overflow: hidden;
}

form{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn{
    width: max-content;
    margin: 2vh 0vh;
    margin-right: 2vh;
}
.bi{
    font-size: 10vh;
}
.cards{
    border: thin solid skyblue;
    width: max-content;
    box-shadow: 2px 4px 25px skyblue inset;
    cursor:pointer;
}
#cover-images{
    /* display: none; */
    height: max-content;
    width: max-content;
    border: thin solid skyblue;
    margin: 2vh 0;
}
#facebook-image,#twitter-image,#linkedin-image{
    display: none;
    border: thin solid skyblue;
}




#bars>i{
    font-size: 5vh;
    z-index: 10;
}
#bars{
    position: fixed;
    z-index: 55;
    right: 2vh;
    top: 1vh;
    transform: rotate(0deg);
    color: white;
}

#navbar{
    height: 50vh;
    position: fixed;
    left: 0%;
    background-color: transparent;
    color: #1ec3dc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
    display: none;
}
#navbar>#linkSection{
    margin: 25% 10%;
    border: thin solid #1ec3dc;
    height: max-content;
    border-radius: 2vh;
    padding: 10vh 0;
    background-image: linear-gradient( rgba(75, 231, 231, 0.5) 25%, rgba(128, 120, 120, 0.4) 100%);
    
}
#navbar>#linkSection>.links{
        font-family: monospace;
        padding: 2vh 0;
}



.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
  
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
  
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
  
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
  
  /* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
