/*  scollbar*/
::-webkit-scrollbar{
    background-color: transparent;
    width: 1vh;
}
::-webkit-scrollbar-thumb{
    background-color: #1ec3dc;
}
/* loader */
#loader{
    background-color: var(--secondary2);
    height: 100vh;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}
#mainload{
    border: thin solid var(--primary2);
    padding: 1vh 15vh;
    position: relative;
    border-radius: 1vh;
}
#mainload>h1{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: blink 2s 0s infinite;
    color: var(--primary2);
}
.bar{
    height: 2px;
    width: 25vh;
    background-color: var(--secondary);
    border-radius: 5vh;
    animation: loaderbar 2s 0s infinite;
    
}
.dot{
    width: 2vh;
    height: 2vh;
    background-color: white;
    border-radius: 1px;
    animation: loaderbar 2s 0s infinite;
}
@keyframes loaderbar {
    0% {
        transform: translateX(-15vh);
    }
    35% {
        transform: translateX(15vh);
        background-color:var(--secondary);

    }
    70% {
        transform: translateX(0vh);
        background-color: var(--primary2);

    }
    100% {
        transform: translateX(-15vh);
        background-color:var(--secondary);

    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* YOutube-getlink.html */
#section1,#section2,#section3{
    height: 100vh;
    display: flex;
    align-items: center;
   
    background: rgb(34,193,195);
    background: linear-gradient(25deg, #1ec3dc 25%, rgba(161, 29, 29, 0.767) 100%);
    position: relative;
    text-align: center;
}
#section1{
    background: linear-gradient(25deg, rgba(190, 196, 196, 0.5) 25%, rgba(187, 121, 121, 0.5) 100%)
    ,url('../images/youtube_section1_background_img.png')
    ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: black;
    background-color: rgba(0, 0, 0, 0.192);
}
#section2,#section3{
    background-image:linear-gradient(44deg, rgb(27 203 203 / 70%) 1%, rgb(235 25 25 / 50%)100%);
}
#inputarea>form>h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
    text-shadow: 2px 3px 4px #1ec3dc;
}
#inputarea>form>input{
    height: 6vh;
    border: thin solid #1ec3dc;
}
#inputarea>form>.btn{
    
    height: 6vh;
}
#inputarea>h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#progress{
    height:2vh;
    border-radius: 5vh;
    width: 100%;
    background: black;
    border:thin solid transparent;
}
#dot-P{
    height: 2vh;
    width: 100%;
    border-radius: 5vh;
    background-color: #1ec3dc;
    animation: progress 5s 0s ease-out;
}
@keyframes progress {
    0%{
        width:100%
    }
    1%{
        width: 2%;
    }
    50%{
        width: 50%;
    }
    70%{
        width: 70%;
    }
    100%{
        width: 100%;
    }
}
#bars>i{
    font-size: 5vh;
    z-index: 10;
}
#bars{
    position: fixed;
    z-index: 55;
    right: 2vh;
    top: 1vh;
    transform: rotate(0deg);
    transform: scale(1);
}
#navbar{
    height: 100vh;
    position: fixed;
    left: 0%;
    background-color: transparent;
    color: #1ec3dc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
    display: none;
}
#navbar>#linkSection{
    margin: 25% 10%;
    border: thin solid #1ec3dc;
    height: max-content;
    border-radius: 2vh;
    padding: 10vh 0;
    background-image: linear-gradient( rgba(75, 231, 231, 0.5) 25%, rgba(128, 120, 120, 0.4) 100%);
    
}
#navbar>#linkSection>.links{
        font-family: monospace;
        padding: 2vh 0;
}

@media (max-width:425px) {
    #navbar{
        width: max-content;
    }
}